Intro to python

In [ ]:
print("Hello UNIGIS")

In [ ]:
2+2

In [ ]:
hello + unigis #will not work!

In [ ]:
"hello"+"unigis"

VARIABLE

In [ ]:
string1 = "hello"
string2 = "unigis"

In [ ]:
string1 + " " + string2

In [ ]:
type(string1)

In [ ]:
number1 = 2
number2 = 2

In [ ]:
type(number1)

In [ ]:
number1 +  number2

In [ ]:
str(number1)+ str(number2)

In [ ]:
number1 * number2 #multiplcation

In [ ]:
number1 ** number2 #power

Logical operations <, >, ==, !=, <=, >=

In [ ]:
3 > 4

1. CHAR(n) / VARCHAR(n) → Python: str

    SQL: ‘Amsterdam’

    Python:

    city = "Amsterdam"  # str

2. BIT(n) → Python: str or int (binary) or list[int]

    SQL: '0010011'

    Python (as string of bits):

bits = "0010011"  # str

Or as a list of bits:

    bits_list = [0, 0, 1, 0, 0, 1, 1]  # list[int]

3. BOOLEAN → Python: bool

    SQL: TRUE, FALSE, UNKNOWN

    Python:

    is_active = True     # bool
    is_deleted = False   # bool
    is_verified = None   # represents UNKNOWN

4. INTEGER / INT → Python: int

    SQL: 1232

    Python:

    number = 1232  # int

5. FLOAT / NUMERIC → Python: float

    SQL: 3,1452 (note: in Python and most systems, a dot . is used as the decimal separator)

    Python:

    value = 3.1452  # float

6. DATE / TIME / TIMESTAMP → Python: datetime objects

    SQL: timestamp '2001-09-29 00:00:00'

    Python:

from datetime import datetime
timestamp = datetime.strptime("2001-09-29 00:00:00", "%Y-%m-%d %H:%M:%S")

LISTS AND TUPLES

In [ ]:
numbers = [1,2,3,4,5,6,7]
numbers[1]

In [ ]:
len(numbers)

In [ ]:
for number in numbers:
    print(str(number)+"randomstring")

In [ ]:
numbers.append(8)
print(numbers)

TUPLES CANNOT BE CHANGED

In [ ]:
a_tuple = (1,2,3,4)

In [ ]:
len(a_tuple)

In [ ]:
another_tuple = ("amsterdam", "antwerp", "Hoorn")

In [ ]:
another_tuple

DICTIONARIES

In [ ]:
country_city = {"netherlands":"amsterdam", "belgium":"antwerp", "netherlands":"Lecco"}

In [ ]:
country_city['netherlands']

In [ ]:
country_city['spain'] = "madrid"

In [ ]:
country_city

FUNCTIONS

In [ ]:
def add_function(a,b):
    result = a+b
    return result

In [ ]:
add_function(2,4)

DATAFRAMES PANDAS

Import a library

In [ ]:
import pandas as pd

use tab to see options

In [ ]:
pd.read_csv("trees_amsterdam_sept_2023.csv")

In [ ]:
trees = pd.read_csv("trees_amsterdam_sept_2023.csv") #this is a function loading the data

In [ ]:
trees

In [ ]:
trees.head()

In [ ]:
trees.head(10)

In [ ]:
type(trees)

In [ ]:
trees.dtypes

In [ ]:
trees.columns #this is a method

In [ ]:
pd.unique(trees['soortnaam'])

In [ ]:
len(pd.unique(trees['soortnaam']))

In [ ]:
trees.describe()

In [ ]:
grouped_year = trees.groupby('jaarVanAan')

In [ ]:
grouped_year.describe()

In [ ]:
trees_not_0 = trees[trees['jaarVanAan'] != 0]

In [ ]:
trees_not_0

In [ ]:
trees_not_0["age"] = 2024 - trees_not_0["jaarVanAan"]

In [ ]:
trees_not_0

In [ ]:
trees_not_0['age'].max()

In [ ]:
trees_not_0['age'].mean()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar(trees_not_0['soortnaamK'], trees_not_0['age'], color='red')
plt.xlabel('Name')
plt.ylabel('Age')
plt.title('Age of trees by Name')
plt.xticks(rotation=45)

In [ ]:
tree_condition = pd.read_csv("tree_condiction_fake_data.csv")

In [ ]:
tree_condition.columns

In [ ]:
tree_condition.head()

In [ ]:
tree_condition.describe()

In [ ]:
trees_not_0.columns

In [ ]:
tree_join = pd.merge(left=trees_not_0, right=tree_condition, left_on='id', right_on='id') #this will be as default an inner join

In [ ]:
tree_join.head()

In [ ]:
tree_join.describe()

In [ ]:
tree_join_left = pd.merge(left=tree_condition, right=trees_not_0 , how='left', left_on='id', right_on='id')

In [ ]:
tree_join_left.describe()

In [ ]:
trees_not_0.to_csv('trees_not_0.csv')

In [ ]:
tree_join.to_csv('trees_join.csv')